# APP
PORT=3001
NODE_ENV=development
OBSERVE_APP_KEY=YOUR_APP_KEY
OBSERVE_APP_SECRET=YOUR_APP_SECRET
OBSERVE_SERVICE_ID=backend

# Secret key for JWT authentication
JWT_SECRET=your_jwt_access_secret_key
JWT_EXPIRES_IN=1h

# Refresh Token & Cookies
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key
JWT_REFRESH_EXPIRES_IN=7d
REFRESH_TOKEN_COOKIE_NAME=refresh_token
COOKIE_HTTP_ONLY=true
COOKIE_SECURE=false
COOKIE_SAME_SITE=lax
DOMAIN=localhost

# Cloudinary configuration
CLOUDINARY_NAME="dasdad"
CLOUDINARY_API_KEY="asda"
CLOUDINARY_API_SECRET="asda"

# Mail configuration
MAIL_HOST="asdada"
MAIL_PORT=6767
MAIL_USER="adad"
MAIL_PASSWORD="ada"

# Database connection URL for PostgreSQL
DATABASE_URL="postgresql://username:password@localhost:5432/database_name?schema=public"

#Logger
APP_NAME="bank-sampah"
LOG_LEVEL="debug"